<%= provide(:title, "Aliasse") %>
<h1>
	Aliasse
	<%= link_to "", new_alias_path, :class => "btn btn-success glyphicon glyphicon-plus" %>
</h1>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="center"><%= will_paginate @aliases %></div>
		<ul class="list">
			<% if @aliases.any? %>
			<ul class="list">
				<%= render :partial => "book_alias", :collection => @aliases %>
			</ul>
			<% else %>
			<span class="blank_list">Zur Zeit sind keine Aliasse vorhanden</span>
			<% end %>
		</ul>
		<div class="center"><%= will_paginate @aliases %></div>
	</div>
</div>