<%= form_tag import_students_path, :multipart => true do %>
	<div class="input-group">
		<%= file_field_tag :file, :class => "form-control" %>		
		<span class="input-group-btn">
			<a class="btn btn-info glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#importHelp">
			</a>
		</span>
	</div>

	<div class="modal fade" id="importHelp" tabIndex="-1" role="dialog">
		<div class="modal-dialog modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Importieren</h4>
			</div>
			<div class="modal-body">
				<p>
					Zum Importieren m&uuml;ssen die Sch&uuml;lerdaten im CSV-Format vorliegen, wobei die
					einzelnen Felder durch Tabulator getrennt sind. Die erste Zeile gibt vor, in welcher
					Reihenfolge die Felder vorliegen. Zur Auswahl stehen:
					<ul>
						<li>name</li>
						<li>vorname</li>
						<li>nachname</li>
						<li>klassenbuchstabe</li>
						<li>abschlussjahr,</li>
					</ul>
					wobei die Felder klein geschrieben werden m&uuml;ssen.
				</p>
			</div>
		</div>
	</div>

	<div class="input-group">
		<span class="input-group-addon">
			<%= check_box_tag :class_letter_ch, "cl", !graduation_year.nil? %>
		</span>
		<%= text_field_tag :class_letter, class_letter, :placeholder => "Klassenbuchstabe", :maxlength => 1, 
			:class => "form-control" %>
	</div>
	<div class="input-group">
		<span class="input-group-addon">
			<%= check_box_tag :graduation_year_ch, "gr", !graduation_year.nil? %>
		</span>
		<%= text_field_tag :graduation_year, graduation_year, :placeholder => "Abschlussjahr", :maxlength => 4,
			:class => "form-control" %>
	</div>
	<%= submit_tag "Importieren", :class => "btn btn-success" %>
<% end %>