<% provide(:title, "Alle Schüler") %>
<h1>
	Alle Sch&uuml;ler
	<%= link_to "", new_student_path, :class => "btn btn-success glyphicon glyphicon-plus" %>
	<%= link_to "", import_students_path, :class => "btn btn-success glyphicon glyphicon-import" %>
</h1>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="center"><%= will_paginate @students %></div>
		<ul class="students">
			<%= render @students %>
		</ul>
		<div class="center"><%= will_paginate @students %></div>
	</div>
</div>