<% provide(:title, "Alle Schüler") %>
<h1>
	Alle Sch&uuml;ler
	<%= link_to "", new_student_path, :class => "btn btn-success glyphicon glyphicon-plus" %>
	<%= link_to "", import_students_path, :class => "btn btn-success glyphicon glyphicon-import",
		:remote => true %>
</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3" id="import-form">

	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<section class="classes">
			<%= render :partial => "students/form", :collection => @forms %>
		</section>
	</div>
</div>

<% if @students.any? %>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= form_tag mass_edit_students_path do %>
			<div class="center"><%= will_paginate @students %></div>
			<ul class="list">
				<% if @students.any? %>
				<%= render @students %>
				<% else %>
				<span class="blank_list">Zur Zeit sind keine Sch&uuml;ler vorhanden</span>
				<% end %>
			</ul>
			<div class="center"><%= will_paginate @students %></div>
			<div class="input-group">
				<span class="input-group-btn">
				<%= select_tag :field, options_for_select("Abschlussjahr" => "graduation_year", "Klassenbuchstabe" => 
					"class_letter"), :class => "btn" %></span>
				<%= text_field_tag :value, "", :class => "form-control" %>
				<span class="input-group-btn"><%= submit_tag "Bearbeiten", :class => "btn btn-warning" %>
				</span>
			</div>
		<% end %>
	</div>
</div>
<% end %>