<% provide(:title, params[:class]) %>
<h1>
	Klasse <%= params[:class] %>
	<%= link_to "", new_student_path(:class_letter => @class_letter, :graduation_year => @graduation_year), 
		:class => "btn btn-success glyphicon glyphicon-plus" %>
	<%= link_to "", import_students_path(:class_letter => @class_letter, :graduation_year => @graduation_year),
		:class => "btn btn-success glyphicon glyphicon-import", :remote => true %>
</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3" id="import-form">

	</div>
</div>

<div class="row">
	<table class="table-striped table-header-rotated">
		<thead>
			<tr>
				<th></th>
				<%= render :partial => "books/header", :collection => @books %>
			</tr>
		</thead>
		<tbody>
		<% @students.each do |student| %>
			<tr>
				<td>
					<%= link_to "", new_base_lending_path(student), :class => 
						"btn btn-xs btn-warning glyphicon glyphicon-export" %>
					<%= link_to "", delete_base_lending_path(student), :class => 
						"btn btn-xs btn-warning glyphicon glyphicon-import" %>
					<%= link_to student.name, student, :class => "student_name" %>
				</td>
				<% @books.each do |book| %>
				<td>
					<% if @bs[student] and @bs[student][book] %>
					<input type="checkbox" readonly checked disabled>
					<% else %>
					<input type="checkbox" readonly disabled>
					<% end %>
				</td>
				<% end %>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>