<% provide(:title, params[:class]) %>
<h1>
	Klasse <%= params[:class] %>
	<%= link_to "", new_student_path(:class_letter => @class_letter, :graduation_year => @graduation_year), 
		:class => "btn btn-success glyphicon glyphicon-plus" %>
	<%= link_to "", import_students_path(:class_letter => @class_letter, :graduation_year => @graduation_year),
		:class => "btn btn-success glyphicon glyphicon-import", :remote => true %>
	<%= link_to "", show_class_path(params[:class], :format => :text), :class => "btn btn-warning glyphicon glyphicon-export" %>
</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3" id="import-form">

	</div>
</div>

<div class="row">
	<table class="table-striped table-header-rotated">
		<%= render :partial => "base_sets", :locals => {:students => @students, :books => @books, :bs => @bs,
			:list => params[:list], :form => params[:class]} %>
	</table>
</div>