<% provide(:title, @student.name) %>
<h1>
	<%= @student.name %>
	<%= link_to @student.display_class, show_class_path(@student.display_class), 
		:class => "btn btn-default" %>
</h1>
<section class="student_buttons">
	<%= link_to "Ausleihe buchen", new_student_lending_path(@student), :class => "btn btn-primary" %>
	<%= link_to "R端ckgabe buchen", withdraw_student_lendings_path(@student), :class => "btn btn-primary" %>
	<%= link_to "Basissatz ausleihen", new_student_base_set_path(@student), :class => "btn btn-primary" %>
	<%= link_to "Basissatz zur端ckgeben", withdraw_student_base_sets_path(@student), :class => "btn btn-primary" %>
</section>
<div class="row">
	<div class="col-md-5">
		<section class="books">
			<h3 class="center">Ausleihen</h3>
			<% if @student.lendings.any? %>
			<%= render @student.lendings %>
			<% else %>
			<span class="blank_list">Zur Zeit sind keine B端cher ausgeliehen</span>
			<% end %>
		</section>
	</div>
	<div class="col-md-5 col-md-offset-2">
		<section class="books">
			<h3 class="center">Basissatz</h3>
			<% if @student.base_sets.any? %>
			<%= render :partial => "lendings/lending", :collection => @student.base_sets %>
			<% else %>
			<span class="blank_list">Zur Zeit sind keine B端cher ausgeliehen</span>
			<% end %>
		</section>
	</div>
</div>