<%= provide(:title, display_title(@book)) %>
<h1><%= display_title(@book) %></h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3" id="alias_form">
		<%= link_to "Alias erstellen", new_alias_path(:book_id => params[:id]), :remote => true, :class =>
			"btn btn-success" %>
	</div>
</div>

<div class="row">
	<div class="col-md-5 col-md-offset-2">
		<h3>Ausgeliehen von</h3>
		<% if @book.lendings.any? %>
		<ul class="list">
			<% lendings = @book.lendings.order("created_at DESC").limit(20) %>
			<% lendings.each do |s| %>
			<li>
				<span class="float-left"><%= link_to "#{s.person.name} (#{if s.person.is_a?(Student) then 
					s.person.display_class else 'Lehrer' end})", (if s.person.is_a?(Student) then student_path(s.person) 
					else teacher_path(s.person) end), :class => "student_name" %></span>
				<span class="float-right"><%= s.created_at.strftime("%a, %Y-%m-%d") %></span>
			</li>
			<% end %>
		</ul>
		<% else %>
		<span class="blank_list">Zur Zeit von niemandem ausgeliehen</span>
		<% end %>
	</div>
	<div class="col-md-3 col-md-offset-1">
		<section class="classes">
			<h3>Ausgeteilt an die Klassen</h3>
			<% if @classes.any? %>
				<% @classes.each do |form| %>
					<%= link_to form, show_class_path(form), :class => "student_class btn btn-sm btn-default" %>
				<% end %>
			<% else %>
				<span class="blank_list">Keine</span>
			<% end %>
		</section>
	</div>
</div>