<% provide(:title, "Startseite") %>
<% if logged_in? %>
<h1><%= current_school.name %></h1>
<div class="row">
	<div class="col-md-3 col-md-offset-3">
		<%= link_to "Lehrer", teachers_path, :class => "btn btn-danger btn-lg tiles" %>
	</div>
	<div class="col-md-3">
		<%= link_to "Schüler", students_path, :class => "btn btn-danger btn-lg tiles" %>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-md-offset-3">
		<%= link_to "Bücher", books_path, :class => "btn btn-success btn-lg tiles" %>
	</div>
	<div class="col-md-3">
		<%= link_to "Aliasse", aliases_path, :class => "btn btn-success btn-lg tiles" %>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-md-offset-3">
		<%= link_to "Einstellungen", edit_school_path(current_school), :class => "btn btn-warning btn-lg tiles" %>
	</div>
	<div class="col-md-3">
		<%= link_to "Hilfe", help_path, :class => "btn btn-warning btn-lg tiles" %>
	</div>
</div>
<% else %>
<div class="center jumbotron">
	<h1>Willkommen bei Obsidian Web</h1>

	<h2>Dies ist die Startseite der B&uuml;cherverwaltung Obsidian Web</h2>

	<%= link_to "Anmelden", signup_path, :class => "btn btn-lg btn-success" %>
	<%= link_to "Einloggen", login_path, :class => "btn btn-lg btn-default" %>
</div>
<% end %>