<% provide(:title, "Ausleihe buchen") %>
<h1>Ausleihe buchen</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_tag new_base_lending_path(:type => (@person.is_a?(Student) ? "students" : "teachers"), :id => @person.id), 
			:method => :post do %>
			<h3>
				<%= @person.name %>
				<small><%= @person.display_class if @person.is_a?(Student) %></small>
			</h3>
			<%= render "isbns" %>
			<%= submit_tag "Ausleihen", :class => "btn btn-primary" %>
		<% end %>
	</div>
</div>